$mobile: "min-width: 361px";
$xsmall: "min-width: 481px";
$small: "min-width: 640px";
$tablet: "min-width: 769px";
$medium: "min-width: 1025px";
$desktop: "min-width: 1235px";
$xlarge: "min-width: 1600px";
