.tier {
  background-size: 100% 100%;
  background-position: center top;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
  flex: 1;
  margin: 0 auto;
  padding: 0 30px;
  width: 95%;

  .content {
    margin-bottom: -25px;
    position: relative;
    text-align: center;
    top: -75px;
  }

  .button {
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
  }

  h3 {
    color: var(--rhino);
    font-family: var(--silverAge);
    font-size: 1.8rem;
    line-height: 1.3;
    margin: 10px 0 20px;
    padding: 0;
  }

  p {
    font-family: var(--body);
    margin: 0;
    line-height: 2;
    padding: 0;
    text-align: left;

    @media(min-width: 769px) {
      font-size: 1rem;
      line-height: 1.375rem;
    }
  }

  // links within the content
  a {
    color: black;
    font-weight: bold;
    text-decoration: underline;

    &:hover {
      color: var(--bostonBlue);
      text-decoration: none;;
    }
  }
}
